.grid {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas:
  "title title"
  "header header"
  "content slide"
}

.title {
  grid-area: title;
}

.slide {
  margin-right: 15%;
}

.content {
  grid-area: content;
  padding-right: 20%;
  justify-self: start;
  align-self: start;
  display: grid;
}

.header {
  grid-area: header
}

.containershow {
box-shadow: 3px 3px 3px 1px rgba(215, 215, 215, .1);
padding: 10px;
}

.containerroom {
box-shadow: 0px 3px 0px 0px rgba(180, 190, 190, 0.1);
padding: 30px;
}

.col-lg-6 {
  margin-left: -21px;
}



