
<nav class="navbar-fixed-top scrolled">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a <%= link_to "Home", root_path, class: "btn btn-secondary text-decoration-none"  %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="form-inline" id="search">
   <%= form_tag rooms_path, method: :get do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control form-control-sm ml-3 btn btn-outline-dark",
    style: "width: 300px",
    placeholder: "   ðŸ¤˜ðŸ½ Entrer votre ville ðŸ¤˜ðŸ½   "
    %>
  <% end %>
  </div>
</div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profil</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
