
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
    Lyon
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlBUcxR9_RMDpbvkZpoZmuCnvLK6ECSjWrNw&usqp=CAU)">
    Paris
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.zikinf.com/_gfx/annonces/dyn/studio-d-enregistrement-1878094.jpg?1563713197)">
    Rennes
  </div>
</div>



<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.spectable.com/image/image/M/studios-louer-annee_523824.jpg)">
    Aubagne
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cerky-studio.com/wp-cerky/uploads/2019/09/cerky-studio-control-room.jpg)">
    Allauch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCaIq2qLLr-Efin-HCZ-qrNpdOQMgBBaP6qA&usqp=CAU)">
    <%= link_to "Marseille", rooms_path %>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://silenceetvibration.com/v2/wp-content/uploads/2019/04/IMG_3557a.jpg)">
    Bordeaux
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRZ0ZDInCZyMH4g137IGFUjeY7h0kofeSjLA&usqp=CAU)">
    Nîmes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.montmartrerecording.com/wp-content/uploads/2015/04/cabine-enregistrement-record-paris.jpg)">
    St Etiennes
  </div>
</div>

