
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://numelyo.bm-lyon.fr/f_eserv/BML:BML_01ICO001014e4d07f3c72dd/web_Source0.jpg)">
    Lyon
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.sortiraparis.com/images/1001/1467/363618-france-inter-fete-la-musique-a-l-olympia-de-paris-2018-2.jpg)">
    Paris
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.fnacspectacles.com/static/0/visuel/pano/183/LE-MUSIKHALL-RENNES_1837629367040847781.jpg)">
    Rennes
  </div>
</div>



<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://woody.cloudly.space/app/uploads/aubagne/2019/12/thumbs/musicales-de-la-font-de-mai-pre-a-musique-scene-oti-aubagne-1920x960-crop-1594129689.jpg)">
    Aubagne
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.allauch.com/fileadmin/_processed_/2/2/csm_J3456x2304-58639_a56a2e64b2.jpg)">
    Allauch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.recordingstudiomarseille.com/images/regieOK2.jpg)">
    Marseille
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i1.wp.com/rue89bordeaux.com/wp-content/uploads/2020/02/Salle_des_fetes.jpg?resize=350%2C200&ssl=1)">
    Bordeaux
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://paloma-nimes.fr/wp-content/uploads/2013/11/grande-salle-7-paloma.jpg)">
    Nîmes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://leplateau42.fr/wp-content/uploads/2015/11/IMG_4462-1024x683.jpg)">
    St Etiennes
  </div>
</div>

