<div class="text-center">
  <div class="col-12">
    <h1>Reservation</h1>
    <h5>Merci pour votre réservation au <%= @room.name %> à <%= @room.city %></h5>
    <h6>Date: <%= @reservation.date %></h6>

    </br>
    <%= link_to "Back", root_path %>
  </div>
</div>
