<h1>Salles de répétition à Marseille</h1>

<div class="card-deck">
<% @rooms.each do |room| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.lesmusicales.fr/wp-content/uploads/2019/04/sono.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
      <li><%= link_to room.name, root_path  %></li>
    </p>
  </div>
</div>
<% end %>
</div>


