.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  margin-top: -63px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#search {
  width: 60%;
  position: absolute;
}
.fa-search {
  padding-left: 5px;
}
