.navbar-lewagon .navbar-brand img {
  width: 40px;
}


body{min-height:0vh;}

.navbar-fixed-top{
  justify-content: space-between;
  transition:500ms ease;
  background:transparent;
}
.navbar-fixed-top.scrolled{
  z-index: 200;
  background: rgba(190, 190, 190, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.btn-outline-dark {
  border-radius: 6px;
  height: 38px
}

.btn-secondary {
  border-radius: 6px;
}

.navbar {
  margin-top: -56px;
}

#query {
  background-color:#EFF0EA;
  color: black;
}
