// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import 'mapbox-gl/dist/mapbox-gl';
@import "flatpickr/dist/themes/airbnb";

body {
  background-color: #F0F0F0;
  background: linear-gradient(0.70turn, #FFFFFF, #F0F0F0F0, #F9F9E9E9);
}

footer {
  background-color: #FFFFFF
}

h5 {
  font-size: 1.3em;
 }

